.app p {
  color: green;
}

@grid-gutter-width:         0px;

.MainPageColor{
	-webkit-box-sizing: content-box;
	 -moz-box-sizing: content-box;
	 box-sizing: content-box;
	 overflow: hidden;
	 border: none;
	 font: normal 37px/1 "Times New Roman", Times, serif;
	 color: rgba(255,255,255,1);
	 text-align: center;
	 -o-text-overflow: ellipsis;
	 text-overflow: ellipsis;
	 background: #c0392b;
	 -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	 box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.height100{
	height:100%;
}
.SidePageColor{
	-webkit-box-sizing: content-box;
	 -moz-box-sizing: content-box;
	 box-sizing: content-box;
	 overflow: hidden;
	 border: none;
	 font: normal 37px/1 "Times New Roman", Times, serif;
	 color: rgba(255,255,255,1);
	 text-align: center;
	 -o-text-overflow: ellipsis;
	 text-overflow: ellipsis;
	 background: #e67e22;
	 -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	 box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
.make-md-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  0px;
  padding-right: 0px;

  // Calculate width based on number of columns available
  @media (min-width: @screen-md-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}